
* {
    margin:0px;
    box-sizing: border-box;
}

html {
    
}

.body-container {
    display: grid;
    grid-template-columns: 15%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header" 
        "sidebar main main main" 
        "footer footer footer footer";
}

header {
    grid-area: header;
    background:pink;
}

sidebar {
    grid-area: sidebar;
}

main {
    grid-area: main;
    background:orange;
}

footer {
    grid-area: footer;
    background:purple;
    height: 100px;
}